@model RealEstateWeb.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Đăng nhập";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <h2 class="text-center">Đăng nhập hệ thống</h2>
        <hr />
        <form asp-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group mb-3">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Password">Mật khẩu</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check mb-3">
                <input asp-for="RememberMe" class="form-check-input" />
                <label asp-for="RememberMe" class="form-check-label"></label>
            </div>

            <button type="submit" class="btn btn-success w-100">Đăng nhập</button>
        </form>
    </div>
</div>